* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 10px 10px;
  background-image: url(https://wallpaperaccess.com/full/803470.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1, h2 {
  opacity: 0.8;
  font-size: 50px;
  letter-spacing: 5px;
  margin: 5px;
}

.top-wrapper img {
  height: 50%;
  width: 50%;
}

.btn {
  padding: 20px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}